Repository mavlink/mavros, pull requests merged in 2018-03, with the labels that each got.

#971 libmavconn : fix hardware flow control setting for Boost < 1.66
  libmavconn/src/serial.cpp
Labels: enhancement

#972 Add ability to send STATUSTEXT messages
  mavros/src/plugins/sys_status.cpp
  mavros_msgs/CMakeLists.txt
  mavros_msgs/msg/StatusText.msg
Labels: enhancement, plugin

#982 launch : remove vision_pose_estimate from blacklist on ardupilot
  mavros/launch/apm_pluginlists.yaml
Labels: APM, extras

#981 px4flow: sending OPTICAL_FLOW_RAD messages
  mavros_extras/src/plugins/px4flow.cpp
Labels: PX4, enhancement, extras, plugin
