Repository mavlink/mavros, pull requests merged in 2019-03, with the labels that each got.

#1179 extras: odom: update velocity covariance fields from 'twist' to 'velocity_covariance'
  mavros_extras/src/plugins/odom.cpp
Labels: extras, messages

#1199 Update the readme
  mavros_extras/README.md
Labels: documentation

#1198 gps_rtk: fix multi segment messages
  mavros_extras/src/plugins/gps_rtk.cpp
Labels: bug, extras, fix
