Repository mavlink/mavros, pull requests merged in 2019-01, with the labels that each got.

#1146 mavros_msgs/msg/LogData.msg: Define "offset" field to be of type uint32
  mavros_msgs/msg/LogData.msg
Labels: enhancement

#1150 VehicleInfo : add srv into sys_status plugin to request vehicule basic info
  mavros/src/plugins/sys_status.cpp
  mavros_msgs/CMakeLists.txt
  mavros_msgs/msg/VehicleInfo.msg
  mavros_msgs/srv/VehicleInfoGet.srv
Labels: enhancement, plugin

#1148 param plugin : add msg and publisher to catch latest param value
  mavros/src/plugins/param.cpp
  mavros_msgs/CMakeLists.txt
  mavros_msgs/msg/Param.msg
Labels: enhancement, plugin

#1136 Request timed up parameters as soon as possible
  mavros/src/plugins/param.cpp
Labels: enhancement, plugin

#1160 local_position: add an aditional topic for velocity on the local frame
  mavros/src/plugins/local_position.cpp
Labels: enhancement, fix, plugin

#1161 px4_config: set the thrust_scaling to one by default
  mavros/launch/px4_config.yaml
Labels: PX4, fix, setpoint
