Repository mavlink/mavros, pull requests merged in 2021-11, with the labels that each got.

#1652 distance_sensor: Initialize sensor orientation quaternion to zero
  mavros_extras/src/plugins/distance_sensor.cpp
Labels: bug, plugin, extras

#1651 Add camera plugin for interfacing with mavlink camera protocol
  mavros/launch/px4_config.yaml
  mavros_extras/CMakeLists.txt
  mavros_extras/mavros_plugins.xml
  mavros_extras/src/plugins/camera.cpp
  mavros_msgs/CMakeLists.txt
  mavros_msgs/msg/CameraImageCaptured.msg
Labels: plugin, extras

#1658 Fix multiple bugs
  libmavconn/include/mavconn/interface.h
  libmavconn/include/mavconn/serial.h
  libmavconn/include/mavconn/tcp.h
  libmavconn/include/mavconn/udp.h
  libmavconn/src/interface.cpp
  libmavconn/src/serial.cpp
  libmavconn/src/tcp.cpp
  libmavconn/src/udp.cpp
  libmavconn/test/test_hang.cpp
  libmavconn/test/test_mavconn.cpp
  mavros/src/gcs_bridge.cpp
Labels: enhancement, API change, fix
