Repository mavlink/mavros, pull requests merged in 2021-09, with the labels that each got.

#1619 publish BATTERY2 message as /mavros/battery2 topic
  mavros/src/plugins/sys_status.cpp
Labels: enhancement, APM, plugin

#1617 Added NAV_CONTROLLER_OUTPUT Plugin
  mavros/CMakeLists.txt
  mavros/mavros_plugins.xml
  mavros/src/plugins/nav_controller_output.cpp
  mavros_msgs/CMakeLists.txt
  mavros_msgs/msg/NavControllerOutput.msg
Labels: enhancement, plugin

#1615 This adds functionality to erase all logs on the SD card via mavlink
  mavros_extras/src/plugins/log_transfer.cpp
Labels: enhancement, plugin, extras

#1616 Mavlink v2.0 specs for RC_CHANNELS_OVERRIDE accepts upto 18 channels.…
  mavros/src/plugins/rc_io.cpp
  mavros_msgs/msg/OverrideRCIn.msg
Labels: enhancement, plugin

#1621 Spelling corrections
  mavros_extras/src/plugins/mount_control.cpp
Labels: enhancement, extras

#1622 sys_time: publish /clock for simulation times
  mavros/src/plugins/sys_time.cpp
Labels: enhancement, plugin, SITL

#1605 mavros_extras: Ported vision_pose_estimate plugin for ROS2
  mavros_extras/CMakeLists.txt
  mavros_extras/mavros_plugins.xml
  mavros_extras/src/plugins/vision_pose_estimate.cpp
Labels: plugin, extras, ros2

#1623 More typo fixes
  mavros/src/plugins/sys_time.cpp
  mavros_msgs/msg/MountControl.msg
Labels: fix

#1627 Node dying when calling /mavros/param/pull
  mavros/src/plugins/param.cpp
Labels: plugin, fix

#1626 Show ENOTCONN error instead of crash on socket's shutdown
  libmavconn/src/tcp.cpp
  mavros/src/gcs_bridge.cpp
Labels: fix

#1625 Plugin for TUNNEL messages
  mavros_extras/CMakeLists.txt
  mavros_extras/mavros_plugins.xml
  mavros_extras/src/plugins/tunnel.cpp
  mavros_msgs/CMakeLists.txt
  mavros_msgs/msg/Tunnel.msg
Labels: plugin, extras
