Repository mavlink/mavros, pull requests merged in 2022-02, with the labels that each got.

#1700 Fix obstacle distance
  mavros_extras/src/plugins/obstacle_distance.cpp
Labels: enhancement, APM, extras, fix

#1703 sys_status.cpp: remove deprecated BATTERY2 mavlink message support
  mavros/src/plugins/sys_status.cpp
Labels: enhancement, plugin

#1702 Mount control plugin: add configurable diagnostics
  mavros_extras/src/plugins/mount_control.cpp
Labels: enhancement, extras

#1704 sys_status.cpp: Do not use battery1 voltage for all batteries.
  mavros/src/plugins/sys_status.cpp
Labels: bug, enhancement, plugin, Copter, Rover, fix

#1712 sys_status.cpp: fix enabling of mem_diag and hwst_diag
  mavros/src/plugins/sys_status.cpp
Labels: enhancement, plugin

#1711 Diagnose up-to 10 batteries
  mavros/launch/apm_config.yaml
  mavros/launch/px4_config.yaml
  mavros/src/plugins/sys_status.cpp
Labels: enhancement, plugin

#1716 sys_status.cpp: do not use harcoded constants
  mavros/src/plugins/sys_status.cpp
Labels: enhancement, plugin

#1717 Maybe fix sys status callbacks
  mavros/src/plugins/sys_status.cpp
Labels: bug, ros2, fix
