Repository mavlink/mavros, pull requests merged in 2023-11, with the labels that each got.

#1921 fix mav service call and wp load
  mavros/mavros/cmd/mission.py
  mavros/mavros/ftp.py
Labels: bug, ros2, fix

#1923 [camera plugin] Fix image_index and capture_result not properly filled
  mavros_extras/src/plugins/camera.cpp
Labels: extras, fix

#1924 [camera plugin] Fix image_index and capture_result not properly filled
  mavros_extras/src/plugins/camera.cpp
Labels: extras, ros2, fix

#1925 Fix PR 1922 regarding EVENT message
  mavros/src/plugins/sys_status.cpp
Labels: ros2, fix
